*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    width: 100vw;
    height: 100vh;  
}

.nav-bar{
    background-color: rgb(222, 177, 160);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    width: 15px;
}

img{
    width: 30px;
}

.container{
    background-color: rgb(222, 177, 160);
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-direction:column;
    align-items: center;
    /* align-items: flex-start; */
    width: 80%;
    height: 60%;
    border-radius: 30px;
    /* margin-bottom: 15px; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.home{
    background-color: rgb(222, 177, 160);
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* width: 80%;
    height: 60%; */
    border-radius: 30px;
    /* margin-bottom: 15px; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

#salir{
    background-color: rgb(222, 177, 160);
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 16%;
    height: 7%;
    border-radius: 30px;
    margin-bottom: 15px;
    margin: auto;
    border:none;
    font-weight: bold;
}

/* .home div{
    background-color: white;
    color:rgb(222, 177, 160);
    /* color:white;
    border-radius: 30px; 
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;    
    margin-top: 40px;
} */

div.consulta{
    background-color: white;
    color:rgb(96, 93, 93);
    /* color:white;
    border-radius: 30px; */
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;    
    margin-top: 40px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

div.ingreso-monto{
    background-color: white;
    color:rgb(96, 93, 93);
    /* color:white;
    border-radius: 30px; */
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;    
    margin-top: 40px;
    margin-right: 20px;
    padding-right: 10px;
}

div.retiro-monto{
    background-color: white;
    color:rgb(96, 93, 93);
    /* color:white;
    border-radius: 30px; */
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;    
    margin-top: 40px;
    padding-right: 10px;
}


input{
    width: 70px;
    border:none;
    margin-right: 5px;
    border-radius: 30px;
    margin-left: 10px;
}

p{
    margin: auto;
}

#saldo{
    background-color: white;
    color:rgb(96, 93, 93);
    display: flex;
    width: 50%;
    height: 30%;
    margin-bottom: 35px;
    font-size: 40px;
}



